@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
    background-color: #FBF8EF;
    color: #434344;
    font-family: "Acme", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    background-color: #FFB145 !important;
    font-family: "Acme", sans-serif;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadido para una sombra sutil */
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px;
}

.titulo {
    color: #ffffff !important;
    font-weight: bold;
    font-family: "Acme", sans-serif;
    font-size: 24px;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-brand .logo {
    height: 70px;
    background-color: #FBF8EF;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.navbar-brand .logo:hover {
    transform: scale(1.1);
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #4AD4BF !important; /* Cambio de color al pasar el cursor */
}

/* TARJETAS */
.custom-card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}

.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.custom-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 80%; /* Reduce el tamaño de la imagen */
    margin: 10px auto; /* Centrar imagen */
    display: block;
}

.custom-card .card-body {
    background-color: #4AD4BF;
    text-align: center;
    color: #434344;
    padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .titulo {
        font-size: 20px;
    }

    .navbar-brand {
        flex-direction: column;
        text-align: center;
    }

    .navbar-brand .logo {
        height: 60px;
        margin-bottom: 5px;
    }

    .custom-card {
        margin-bottom: 20px;
    }

    .custom-card img {
        width: 70%; /* Ajuste de tamaño de imagen en móviles */
    }
}

/* FOOTER */
footer {
    background-color: #FFB145;
    color: #ffffff;
    font-family: "Acme", sans-serif;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}
